.articleOld{
  margin: 2em;
  border: solid;
  text-align: center;
}
.p1{
  font-weight: bold;
}

.hensyuu{
  text-align: center;
  margin: 2em;
  border: solid;
}

.articleform{
  width: 80%;
  margin-top: 2em;
}
